.container1 {
    padding: 20px 0px;
}
.search-container {
  width: 96%;
  background-color: rgb(4, 4, 53);
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  text-align: center;
  font-family: Arial;
  border-radius: 5px;
}

.heading {
  color: rgb(7, 156, 106);
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
}

.text {
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
  margin: 15px;
}

.search-area {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.search-bar {
  width: 70%;
  height: 40px;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 1rem;
  border: none;
}

.button {
  background-color: rgb(7, 156, 106);
  border-radius: 10%;
  padding: 0 15px;
  border: none;
}
